body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    width : 100% ;
    margin: 0;
    padding: 0;
}
.container{
    width : 100% ;
    border: 2px solid white;
    height: 100vh;
    display: flex;

}
.sec1{
    width:50% ;
}
img{
    width:50% ;
    height: 46%;
    border-radius: 10px;
   margin:184px;
}
.sec2{
    border: 2px solid steelblue;
    background-color: steelblue;
    border-radius:700px;
    padding: 176px;
    width:278px;
    height: 356px;
    text-align: center;
}
h2{
    color:white;
    text-align: center;
    font-size: 25px;
}
input[type="email"]{
    border:none;
    border-bottom: 2px solid black;
   padding: 5px;
   outline: none;
}
input[type="email"]:focus{
    border-bottom: 2px solid black;
}
input[type="password"]{
    border:none;
    border-bottom: 2px solid black;
   padding: 5px;
   outline: none;
}
input[type="password"]:focus{
    border-bottom: 2px solid black;
}
a{
   text-decoration: none ;
   color:white;
}
a:hover{
    text-decoration: underline;
}
button{
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color:steelblue;
    border-radius: 5px;
    cursor:pointer;
    width:calc(100% - 22px);
    padding:10px;
    margin-bottom: 10px;
    border: 1px solid#ddd;
    border-radius: 50px; 
    font-size: 15px;
}
n{
    color:white;
}
button:hover{
    border: 2px solid white;
    background-color: steelblue;
    color: black;
}
h1{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:40px;
}